openapi: 3.1.0
info:
  title: Webservice AOL
  version: 0.2.0.16
  description: |
    Este Web Service tem por objetivo disponibilizar recursos de integração entre o serviço
    de apoio laboratorial Alvaro e sistemas LIS (Laboratory Information System) externos,
    sem a necessidade de utilização direta do AOL.

    Segue o padrão REST, utilizando os métodos HTTP POST, PUT, GET e DELETE para mapear as
    operações de integração laboratorial — incluindo inclusão e gestão de solicitações,
    consulta de resultados, rastreabilidade de amostras e exames, e sincronização de status.

    A troca de mensagens utiliza predominantemente XML no corpo das requisições e respostas,
    com autenticação via Basic Auth. Endpoints de rastreabilidade retornam JSON.

    **Ajustes finos de regra podem ser evoluídos incrementalmente.**

    > Para o catálogo completo de mensagens de retorno do sistema, consulte o endpoint
    > `GET /catalogoMensagens` na seção **mensagens-retorno**.

    ## Códigos de Resposta

    | Código | Descrição |
    |--------|-----------|
    | 200 | Sucesso, todos os dados enviados foram atualizados |
    | 206 | Valores atualizados parcialmente, alguns com sucesso e outros com falha |
    | 400 | Informações inválidas, falha ao atualizar todas as informações |
    | 401 | Credenciais inválidas ou ausentes (Basic Auth) |
    | 403 | Agente ou entidade não autorizados |
    | 500 | Falha interna, acionar suporte DASA |
servers:
- url: http://webservice.alvaro.com.br
  description: Produção
security:
- basicAuth: []
tags:
- name: mensagens-retorno
  description: Referência completa das mensagens de retorno do sistema.
- name: solicitacoes
  description: Fluxo principal de criação e atualização da solicitação.
- name: resultados
  description: Consultas e extrações de resultados em diferentes formatos.
- name: exames
  description: Inclusão e exclusão de exames.
- name: status
  description: Status de exames e visão consolidada.
- name: materiais
  description: Materiais aceitos por exame.
- name: amostras
  description: Situação da amostra.
- name: recoleta
  description: Consulta de notificações de recoleta por período.
- name: criticas
  description: Catálogo de críticas e metadados de exames. ⚠️ As críticas apresentadas nesta versão do YAML têm validade até 31/05/2026.
- name: conectividade-ws
  description: Saúde e utilitários de integração.
x-tagGroups:
- name: 1. Solicitação
  tags:
  - solicitacoes
  - exames
- name: 2. Resultados
  tags:
  - resultados
  - status
- name: 3. Apoio
  tags:
  - materiais
  - amostras
  - recoleta
  - criticas
  - conectividade-ws
paths:
  /webserviceaol/rest/producao/teste:
    get:
      tags:
      - conectividade-ws
      summary: 1) Teste de conexão
      operationId: testeConexao
      description: |
        Verifica a conectividade com o Web Service e retorna a versão atual do serviço.
        Não requer autenticação.

        Exemplo cURL:
        `curl --location 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/teste'`
      security: []
      responses:
        '200':
          description: Serviço disponível. Retorna a versão atual do Web Service.
          content:
            text/html:
              schema:
                type: string
              examples:
                versao:
                  summary: Versão atual do serviço
                  value: OK v2026.2.4
  /webserviceaol/rest/producao:
    put:
      tags:
      - solicitacoes
      summary: 2) Incluir solicitação (simples, composto, curva, paternidade, cultura, multiplas amostras)
      operationId: incluirSolicitacao
      security: []
      description: |
        Autenticação: as credenciais são informadas diretamente nos atributos do XML
        (`idagente` e `senha`), não via header HTTP. Exemplo: `<solicitacoes idagente="194607" senha="71da7e" ...>`.

        Regra de impressão de etiqueta: quando o atributo `nomeSocial` do paciente
        for informado, ele deve ser priorizado como nome impresso na etiqueta.

        Exemplos cURL:

        **Exame simples:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-5000" datanasc="1991-01-01" nome="TESTE EXAME SIMPLES" nomeSocial="TESTE NOME SOCIAL" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-5000" codigopaciente="PAC-5000" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta="POSTO_01"><amostra descricao="Basal" codigoBarras="" material="543"><exame codigo="TSH" dadosadicionais="" urgente="false"/></amostra></solicitacao></entidade></solicitacoes>'`

        **Exame composto:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-502" datanasc="1991-01-01" nome="TESTE EXAME COMPOSTO" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-502" codigopaciente="PAC-502" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta="POSTO_01"><amostra descricao="Basal" codigoBarras="" material="1021"><exame codigo="CLEAR1" dadosadicionais="" urgente="false"/></amostra></solicitacao></entidade></solicitacoes>'`

        **Exame de curva:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-503" datanasc="1991-01-01" nome="TESTE EXAME DE CURVA" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-503" codigopaciente="PAC-503" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta="POSTO_01"><amostra descricao="Basal" material="543"><exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/></amostra><amostra descricao="30 min" material="543"><exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/></amostra><amostra descricao="60 min" material="543"><exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/></amostra><amostra descricao="90 min" material="543"><exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/></amostra><amostra descricao="120 min" material="543"><exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/></amostra></solicitacao></entidade></solicitacoes>'`

        **Exame de paternidade:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-504" datanasc="1991-01-01" nome="TESTE EXAME DE PATERNIDADE" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-504" codigopaciente="PAC-504" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta="POSTO_01"><amostra descricao="" material="5099"><exame codigo="PAT" dadosadicionais="" urgente="false"><exameParticipante nome="Nome Do Filho" sexo="M" tipo="FILHO" datanasc="2026-01-01-03:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/></exame><exame codigo="PAT" dadosadicionais="" urgente="false"><exameParticipante nome="Nome Do Pai" sexo="M" tipo="SUPOSTO PAI" datanasc="1999-01-01-02:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/></exame><exame codigo="PAT" dadosadicionais="" urgente="false"><exameParticipante nome="Nome Da Mae" sexo="F" tipo="MAE" datanasc="2000-01-01-02:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/></exame></amostra></solicitacao></entidade></solicitacoes>'`

        **Exame de cultura:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-506" datanasc="1991-01-01" nome="TESTE EXAME CULTURA" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-506" codigopaciente="PAC-506" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta="POSTO_01"><amostra descricao="Basal" material="4956"><exame codigo="CCCT" dadosadicionais="" urgente="false"/></amostra></solicitacao></entidade></solicitacoes>'`

        **Exame com múltiplas amostras:**
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?><solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918"><entidade chave="31fc39645210bb80" codigo="19812"><pacientes><paciente codigolis="PAC-507" datanasc="1991-01-01" nome="TESTE EXAME MULTIPLAS AMOSTRAS" sexo="M" cpf="04056521000" email="paciente@exames.com"/></pacientes><medicos><medico crm="123456789-RJ" nome="Médico Teste"/></medicos><solicitacao codigolis="SOL-507" codigopaciente="PAC-507" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" postoDeColeta=""><amostra descricao="AMOSTRA1" material="1194"><exame codigo="ANAT4" dadosadicionais="" urgente="false"/></amostra><amostra descricao="AMOSTRA2" material="1194"><exame codigo="ANAT4" dadosadicionais="" urgente="false"/></amostra><amostra descricao="AMOSTRA3" material="1194"><exame codigo="ANAT4" dadosadicionais="" urgente="false"/></amostra><amostra descricao="AMOSTRA4" material="54"><exame codigo="ANAT4" dadosadicionais="" urgente="false"/></amostra></solicitacao></entidade></solicitacoes>'`
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SolicitacoesIncluirRequest'
            examples:
              solicitacaoExameSimples:
                summary: Solicitação de exame simples
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-5000" datanasc="1991-01-01" nome="TESTE EXAME SIMPLES" nomeSocial="TESTE NOME SOCIAL" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-5000" codigopaciente="PAC-5000" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="POSTO_01">
                              <amostra descricao="Basal" codigoBarras="" material="543">
                                  <exame codigo="TSH" dadosadicionais="" urgente="false"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
              solicitacaoExameComposto:
                summary: Solicitação de exame composto
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-502" datanasc="1991-01-01" nome="TESTE EXAME COMPOSTO" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-502" codigopaciente="PAC-502" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="POSTO_01">
                              <amostra descricao="Basal" codigoBarras="" material="1021">
                                  <exame codigo="CLEAR1" dadosadicionais="" urgente="false"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
              solicitacaoExameCurva:
                summary: Solicitação de exame de curva
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-503" datanasc="1991-01-01" nome="TESTE EXAME DE CURVA" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-503" codigopaciente="PAC-503" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="POSTO_01">
                              <amostra descricao="Basal" material="543">
                                  <exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="30 min" material="543">
                                  <exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="60 min" material="543">
                                  <exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="90 min" material="543">
                                  <exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="120 min" material="543">
                                  <exame codigo="INSULCURVA" dadosadicionais="" urgente="false"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
              solicitacaoExamePaternidade:
                summary: Solicitação de exame de paternidade
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-504" datanasc="1991-01-01" nome="TESTE EXAME DE PATERNIDADE" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-504" codigopaciente="PAC-504" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="POSTO_01">
                              <amostra descricao="" material="5099">
                                  <exame codigo="PAT" dadosadicionais="" urgente="false">
                                      <exameParticipante nome="Nome Do Filho" sexo="M" tipo="FILHO" datanasc="2026-01-01-03:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/>
                                  </exame>
                                  <exame codigo="PAT" dadosadicionais="" urgente="false">
                                      <exameParticipante nome="Nome Do Pai" sexo="M" tipo="SUPOSTO PAI" datanasc="1999-01-01-02:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/>
                                  </exame>
                                  <exame codigo="PAT" dadosadicionais="" urgente="false">
                                      <exameParticipante nome="Nome Da Mae" sexo="F" tipo="MAE" datanasc="2000-01-01-02:00" nomeColetador="Nome Do Coletador" nomeJuiz="Nome Do Juiz" nomeIdentificador="NOME DO IDENTIFICADO"/>
                                  </exame>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
              solicitacaoExameCultura:
                summary: Solicitação de exame de cultura
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-506" datanasc="1991-01-01" nome="TESTE EXAME CULTURA" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-506" codigopaciente="PAC-506" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="POSTO_01">
                              <amostra descricao="Basal" material="4956">
                                  <exame codigo="CCCT" dadosadicionais="" urgente="false"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
              solicitacaoExameMultiplasAmostras:
                summary: Solicitação de exame com multiplas amostras
                value: |
                  <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                  <solicitacoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e" versao="20170918">
                      <entidade chave="31fc39645210bb80" codigo="19812">
                          <pacientes>
                              <paciente codigolis="PAC-507" datanasc="1991-01-01" nome="TESTE EXAME MULTIPLAS AMOSTRAS" sexo="M" cpf="04056521000" endereco="R ALICE,9999,LARANJEIRAS,RIO DE JANEIRO" estado="RJ" email="paciente@exames.com"/>
                          </pacientes>
                          <medicos>
                              <medico crm="123456789-RJ" nome="Médico Teste"/>
                          </medicos>
                          <solicitacao codigolis="SOL-507" codigopaciente="PAC-507" crm="123456789-RJ" data="2026-03-03-03:00" dataColeta="2026-03-03T00:00:00.000-03:00" medicamentos="DIPIRONA 500 mg" postoDeColeta="">
                              <amostra descricao="AMOSTRA1" material="1194">
                                  <exame codigo="ANAT4" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="AMOSTRA2" material="1194">
                                  <exame codigo="ANAT4" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="AMOSTRA3" material="1194">
                                  <exame codigo="ANAT4" dadosadicionais="" urgente="false"/>
                              </amostra>
                              <amostra descricao="AMOSTRA4" material="54">
                                  <exame codigo="ANAT4" dadosadicionais="" urgente="false"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
      responses:
        '200':
          description: Retorno de inclusão da solicitação
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                respostaSolicitacaoExameSimples:
                  summary: Response de solicitação de exame simples
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="14.0">
                            <pacientes tempoProcessamento="11.0">
                                <paciente idAlvaro="431788369" idLis="PAC-5000"/>
                            </pacientes>
                            <medicos tempoProcessamento="3.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="355.0">
                            <solicitacao idLis="SOL-5000" incluido="true" baseBarras="65JJGI" idAlvaro="372106818" tempoProcessamento="0.0">
                                <amostra codigoBarras="707825473506" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="0" idAmostraExecutor="707825473506" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="0" volume="900.0">
                                    <exame exame="TSH" incluido="true" informacao="Exame(s): TSH - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE NOME SOCIAL"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-5000 - 707825473506"&#xD;
                    B60,45,0,2,3,6,90,N,"707825473506"&#xD;
                    A10,145,0,1,1,1,N,"TSH"&#xD;
                    A10,157,0,1,1,1,N,"SORO-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.9 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372106818"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
                respostaSolicitacaoExameComposto:
                  summary: Response de solicitação de exame composto
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="16.0">
                            <pacientes tempoProcessamento="11.0">
                                <paciente idAlvaro="431792922" idLis="PAC-502"/>
                            </pacientes>
                            <medicos tempoProcessamento="5.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="547.0">
                            <solicitacao idLis="SOL-502" incluido="true" baseBarras="65JMK3" idAlvaro="372110835" tempoProcessamento="0.0">
                                <amostra codigoBarras="704306874555" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="URINA 24H" idAcondicionamento="26" idAmostra="0" idAmostraExecutor="704306874555" idDestino="51" identificacao="" lote="LT0A32060556" material="738" mnemonico="SAO.R.1" volume="0.0">
                                    <exame exame="CLEAR1" incluido="true" informacao="Exame(s): CLEAR1 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME COMPOSTO"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-502 - 704306874555"&#xD;
                    B60,45,0,2,3,6,90,N,"704306874555"&#xD;
                    A10,145,0,1,1,1,N,"CLEAR1"&#xD;
                    A10,157,0,1,1,1,N,"URINA 24H-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"SAO.R.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372110835"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704306874562" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="1" idAmostraExecutor="704306874562" idDestino="51" identificacao="" lote="LT0A32060556" material="543" mnemonico="SAO.R.1" volume="750.0">
                                    <exame exame="CLEAR1" incluido="true" informacao="Exame(s): CLEAR1 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME COMPOSTO"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-502 - 704306874562"&#xD;
                    B60,45,0,2,3,6,90,N,"704306874562"&#xD;
                    A10,145,0,1,1,1,N,"CLEAR1"&#xD;
                    A10,157,0,1,1,1,N,"SORO-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.75 ml"&#xD;
                    A300,155,0,2,1,1,R,"SAO.R.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372110835"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
                respostaSolicitacaoExameCurva:
                  summary: Response de solicitação de exame de curva
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="16.0">
                            <pacientes tempoProcessamento="11.0">
                                <paciente idAlvaro="431798951" idLis="PAC-503"/>
                            </pacientes>
                            <medicos tempoProcessamento="5.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="2385.0">
                            <solicitacao idLis="SOL-503" incluido="true" baseBarras="65JR1K" idAlvaro="372116648" tempoProcessamento="0.0">
                                <amostra codigoBarras="707825509823" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="0" idAmostraExecutor="707825509823" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="0" volume="730.0">
                                    <exame exame="INSULCURVA" incluido="true" informacao="Exame(s): INSULCURVA - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME DE CURVA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-503 - 707825509823"&#xD;
                    B60,45,0,2,3,6,90,N,"707825509823"&#xD;
                    A10,145,0,1,1,1,N,"INSULCURVA"&#xD;
                    A10,157,0,1,1,1,N,"SORO-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.73 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372116648"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="707825509830" descricao="30 min" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="1" idAmostraExecutor="707825509830" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="1" volume="730.0">
                                    <exame exame="INSULCURVA" incluido="true" informacao="Exame(s): INSULCURVA - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME DE CURVA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-503 - 707825509830"&#xD;
                    B60,45,0,2,3,6,90,N,"707825509830"&#xD;
                    A10,145,0,1,1,1,N,"INSULCURVA"&#xD;
                    A10,157,0,1,1,1,N,"SORO-30 MIN"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.73 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372116648"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="707825509847" descricao="60 min" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="2" idAmostraExecutor="707825509847" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="2" volume="730.0">
                                    <exame exame="INSULCURVA" incluido="true" informacao="Exame(s): INSULCURVA - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME DE CURVA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-503 - 707825509847"&#xD;
                    B60,45,0,2,3,6,90,N,"707825509847"&#xD;
                    A10,145,0,1,1,1,N,"INSULCURVA"&#xD;
                    A10,157,0,1,1,1,N,"SORO-60 MIN"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.73 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372116648"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="707825509854" descricao="90 min" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="3" idAmostraExecutor="707825509854" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="3" volume="730.0">
                                    <exame exame="INSULCURVA" incluido="true" informacao="Exame(s): INSULCURVA - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME DE CURVA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-503 - 707825509854"&#xD;
                    B60,45,0,2,3,6,90,N,"707825509854"&#xD;
                    A10,145,0,1,1,1,N,"INSULCURVA"&#xD;
                    A10,157,0,1,1,1,N,"SORO-90 MIN"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.73 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372116648"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="707825509861" descricao="120 min" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="4" idAmostraExecutor="707825509861" idDestino="47" identificacao="" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="4" volume="730.0">
                                    <exame exame="INSULCURVA" incluido="true" informacao="Exame(s): INSULCURVA - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME DE CURVA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-503 - 707825509861"&#xD;
                    B60,45,0,2,3,6,90,N,"707825509861"&#xD;
                    A10,145,0,1,1,1,N,"INSULCURVA"&#xD;
                    A10,157,0,1,1,1,N,"SORO-120 MIN"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.73 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372116648"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
                respostaSolicitacaoExamePaternidade:
                  summary: Response de solicitação de exame de paternidade
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="12.0">
                            <pacientes tempoProcessamento="8.0">
                                <paciente idAlvaro="431803865" idLis="PAC-504"/>
                            </pacientes>
                            <medicos tempoProcessamento="4.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="3286.0">
                            <solicitacao idLis="SOL-504" incluido="true" baseBarras="65JUN7" idAlvaro="372121315" tempoProcessamento="0.0">
                                <amostra codigoBarras="704306876078" descricao="Basal" descricaoAcondicionamento="A" descricaoMaterial="PAPEL FILTRO - FTA" idAcondicionamento="27" idAmostra="0" idAmostraExecutor="704306876078" idDestino="51" identificacao="NOME DO IDENTIFICADO" lote="LT0A32062341" material="5099" mnemonico="SAO.A.1" sequencia="0" volume="0.0">
                                    <exame exame="PAT" incluido="true" informacao="Exame(s): PAT - Incluído(s) com sucesso!">
                                        <exameParticipante datanasc="2026-01-01T00:00:00-03:00" nome="Nome Do Filho" nomeColetador="Nome Do Coletador" nomeIdentificador="NOME DO IDENTIFICADO" nomeJuiz="Nome Do Juiz" sexo="M" tipo="FILHO"/>
                                    </exame>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"NOME DO FILHO"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-504 - 704306876078"&#xD;
                    B60,45,0,2,3,6,90,N,"704306876078"&#xD;
                    A10,145,0,1,1,1,N,"PAT"&#xD;
                    A10,157,0,1,1,1,N,"PAPEL FILTRO - FTA-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"SAO.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372121315"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704306876085" descricao="Basal" descricaoAcondicionamento="A" descricaoMaterial="PAPEL FILTRO - FTA" idAcondicionamento="27" idAmostra="1" idAmostraExecutor="704306876085" idDestino="51" identificacao="NOME DO IDENTIFICADO" lote="LT0A32062341" material="5099" mnemonico="SAO.A.1" sequencia="0" volume="0.0">
                                    <exame exame="PAT" incluido="true" informacao="Exame(s): PAT - Incluído(s) com sucesso!">
                                        <exameParticipante datanasc="1999-01-01T00:00:00-02:00" nome="Nome Do Pai" nomeColetador="Nome Do Coletador" nomeIdentificador="NOME DO IDENTIFICADO" nomeJuiz="Nome Do Juiz" sexo="M" tipo="SUPOSTO PAI"/>
                                    </exame>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"NOME DO PAI"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-504 - 704306876085"&#xD;
                    B60,45,0,2,3,6,90,N,"704306876085"&#xD;
                    A10,145,0,1,1,1,N,"PAT"&#xD;
                    A10,157,0,1,1,1,N,"PAPEL FILTRO - FTA-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"SAO.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372121315"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704306876092" descricao="Basal" descricaoAcondicionamento="A" descricaoMaterial="PAPEL FILTRO - FTA" idAcondicionamento="27" idAmostra="2" idAmostraExecutor="704306876092" idDestino="51" identificacao="NOME DO IDENTIFICADO" lote="LT0A32062341" material="5099" mnemonico="SAO.A.1" sequencia="0" volume="0.0">
                                    <exame exame="PAT" incluido="true" informacao="Exame(s): PAT - Incluído(s) com sucesso!">
                                        <exameParticipante datanasc="2000-01-01T00:00:00-02:00" nome="Nome Da Mae" nomeColetador="Nome Do Coletador" nomeIdentificador="NOME DO IDENTIFICADO" nomeJuiz="Nome Do Juiz" sexo="F" tipo="MAE"/>
                                    </exame>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"NOME DA MAE"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-504 - 704306876092"&#xD;
                    B60,45,0,2,3,6,90,N,"704306876092"&#xD;
                    A10,145,0,1,1,1,N,"PAT"&#xD;
                    A10,157,0,1,1,1,N,"PAPEL FILTRO - FTA-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"SAO.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372121315"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
                respostaSolicitacaoExameCultura:
                  summary: Response de solicitação de exame de cultura
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="20.0">
                            <pacientes tempoProcessamento="16.0">
                                <paciente idAlvaro="431810394" idLis="PAC-506"/>
                            </pacientes>
                            <medicos tempoProcessamento="4.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="534.0">
                            <solicitacao idLis="SOL-506" incluido="true" baseBarras="65JZ9Q" idAlvaro="372127310" tempoProcessamento="0.0">
                                <amostra codigoBarras="707825553888" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="URINA TUBO AC. BORIC" idAcondicionamento="26" idAmostra="0" idAmostraExecutor="707825553888" idDestino="47" identificacao="" lote="LT0A32058541" material="4956" mnemonico="RIO.R.4" sequencia="0" volume="0.0">
                                    <exame exame="CCCT" incluido="true" informacao="Exame(s): CCCT - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME CULTURA"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-506 - 707825553888"&#xD;
                    B60,45,0,2,3,6,90,N,"707825553888"&#xD;
                    A10,145,0,1,1,1,N,"CCCT"&#xD;
                    A10,157,0,1,1,1,N,"URINA TUBO AC. BORIC-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372127310"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
                respostaSolicitacaoExameMultiplasAmostras:
                  summary: Response de solicitação de exame com multiplas amostras
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <aol versao="0">
                        <cadastros tempoProcessamento="12.0">
                            <pacientes tempoProcessamento="9.0">
                                <paciente idAlvaro="431829696" idLis="PAC-507"/>
                            </pacientes>
                            <medicos tempoProcessamento="3.0">
                                <medico crm="123456789-RJ" idAlvaro="4246941"/>
                            </medicos>
                        </cadastros>
                        <solicitacoes tempoProcessamento="1172.0">
                            <solicitacao idLis="SOL-507" incluido="true" baseBarras="65KDKI" idAlvaro="372145842" tempoProcessamento="0.0">
                                <amostra codigoBarras="704103728839" descricao="AMOSTRA1" descricaoAcondicionamento="A" descricaoMaterial="ANÁTOMO PATOLÓGICO" idAcondicionamento="27" idAmostra="0" idAmostraExecutor="704103728839" idDestino="49" identificacao="" lote="LT0A32066730" material="1194" mnemonico="RIP.A.1" sequencia="0" volume="0.0">
                                    <exame exame="ANAT4" incluido="true" informacao="Exame(s): ANAT4 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME MULTIPLAS AMOSTRAS"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-507 - 704103728839"&#xD;
                    B60,45,0,2,3,6,90,N,"704103728839"&#xD;
                    A10,145,0,1,1,1,N,"ANAT4"&#xD;
                    A10,157,0,1,1,1,N,"ANÁTOMO PATOLÓGICO-AMOSTRA1"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIP.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372145842"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704103728846" descricao="AMOSTRA2" descricaoAcondicionamento="A" descricaoMaterial="ANÁTOMO PATOLÓGICO" idAcondicionamento="27" idAmostra="1" idAmostraExecutor="704103728846" idDestino="49" identificacao="" lote="LT0A32066730" material="1194" mnemonico="RIP.A.1" sequencia="1" volume="0.0">
                                    <exame exame="ANAT4" incluido="true" informacao="Exame(s): ANAT4 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME MULTIPLAS AMOSTRAS"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-507 - 704103728846"&#xD;
                    B60,45,0,2,3,6,90,N,"704103728846"&#xD;
                    A10,145,0,1,1,1,N,"ANAT4"&#xD;
                    A10,157,0,1,1,1,N,"ANÁTOMO PATOLÓGICO-AMOSTRA2"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIP.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372145842"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704103728853" descricao="AMOSTRA3" descricaoAcondicionamento="A" descricaoMaterial="ANÁTOMO PATOLÓGICO" idAcondicionamento="27" idAmostra="2" idAmostraExecutor="704103728853" idDestino="49" identificacao="" lote="LT0A32066730" material="1194" mnemonico="RIP.A.1" sequencia="2" volume="0.0">
                                    <exame exame="ANAT4" incluido="true" informacao="Exame(s): ANAT4 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME MULTIPLAS AMOSTRAS"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-507 - 704103728853"&#xD;
                    B60,45,0,2,3,6,90,N,"704103728853"&#xD;
                    A10,145,0,1,1,1,N,"ANAT4"&#xD;
                    A10,157,0,1,1,1,N,"ANÁTOMO PATOLÓGICO-AMOSTRA3"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIP.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372145842"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="704103728860" descricao="AMOSTRA4" descricaoAcondicionamento="A" descricaoMaterial="BIOPSIA DE COLO UTER" idAcondicionamento="27" idAmostra="3" idAmostraExecutor="704103728860" idDestino="49" identificacao="" lote="LT0A32066730" material="54" mnemonico="RIP.A.1" sequencia="3" volume="0.0">
                                    <exame exame="ANAT4" incluido="true" informacao="Exame(s): ANAT4 - Incluído(s) com sucesso!"/>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME MULTIPLAS AMOSTRAS"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-507 - 704103728860"&#xD;
                    B60,45,0,2,3,6,90,N,"704103728860"&#xD;
                    A10,145,0,1,1,1,N,"ANAT4"&#xD;
                    A10,157,0,1,1,1,N,"BIOPSIA DE COLO UTER-AMOSTRA4"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIP.A.1"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372145842"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </solicitacoes>
                    </aol>
        '400':
          $ref: '#/components/responses/BusinessError'
    post:
      tags:
      - exames
      summary: 5) Incluir exame em solicitação existente
      operationId: incluirExame
      description: |
        Inclui um ou mais exames em uma solicitação já existente. As credenciais são informadas
        diretamente nos atributos do XML (`idagente` e `senha`), não via header HTTP.

        Exemplo cURL:
        `curl --location --request POST 'http://webservice.alvaro.com.br/webserviceaol/rest/producao' --header 'Content-Type: application/xml' --data '<?xml version="1.0" encoding="UTF-8"?><inclusoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372099609"><amostra descricao="Basal" material="543" identificacao="" novaAmostra="false"><exame codigoExame="CA"/><exame codigoExame="T4L"/></amostra><amostra descricao="Basal" material="5744" identificacao="" novaAmostra="true"><exame codigoExame="EPF1"/></amostra></solicitacao></entidade></inclusoes>'`
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/InclusoesRequest'
            examples:
              inclusaoExamesSolicitacaoExistente:
                summary: Incluir exame em solicitação existente
                value: |
                  <?xml version="1.0" encoding="UTF-8"?>
                  <inclusoes datahora="2026-03-03T08:39:37.402-03:00" idagente="194607" lis="NOME-LIS" operador="NOME-OPERADOR" senha="71da7e">
                  	<entidade codigo="19812">
                  		<solicitacao idAlvaro="372099609">
                              <amostra descricao="Basal" material="543" identificacao="" novaAmostra="false">
                                  <exame codigoExame="CA"/>
                                  <exame codigoExame="T4L"/>
                              </amostra>
                              <amostra descricao="Basal" material="5744" identificacao="" novaAmostra="true">
                                  <exame codigoExame="EPF1"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </inclusoes>
      responses:
        '200':
          description: Retorno de inclusão de exame
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                retornoInclusaoExamesSolicitacaoExistente:
                  summary: Response de inclusão de exame em solicitação existente
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <inclusoes tempoProcessamento="0.0">
                        <entidade codigo="19812">
                            <solicitacao baseBarras="65JDW9" idAlvaro="372099609">
                                <amostra codigoBarras="707825441321" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="SORO" idAcondicionamento="26" idAmostra="0" idAmostraExecutor="707825441321" idDestino="47" identificacao="" incluido="true" lote="LT0A32058541" material="543" mnemonico="RIO.R.4" sequencia="0" volume="900.0">
                                    <exame incluido="true" informacao="Exame(s): CA - Incluído(s) com sucesso!">
                                        <exame>CA</exame>
                                    </exame>
                                    <exame incluido="true" informacao="Exame(s): T4L - Incluído(s) com sucesso!">
                                        <exame>T4L</exame>
                                    </exame>
                                    <exame incluido="true" informacao="Exame(s): TSH - Incluído(s) com sucesso!">
                                        <exame>TSH</exame>
                                    </exame>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME SIMPLES"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-0001000 - 707825441321"&#xD;
                    B60,45,0,2,3,6,90,N,"707825441321"&#xD;
                    A10,145,0,1,1,1,N,"CA,T4L,TSH"&#xD;
                    A10,157,0,1,1,1,N,"SORO-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: 0.9 ml"&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.4"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372099609"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                                <amostra codigoBarras="707825579338" descricao="Basal" descricaoAcondicionamento="R" descricaoMaterial="FEZES AMOSTRA 1" idAcondicionamento="26" idAmostra="2" idAmostraExecutor="707825579338" idDestino="47" identificacao="" incluido="true" lote="LT0A32056835" material="5744" mnemonico="RIO.R.2" sequencia="1" volume="0.0">
                                    <exame incluido="true" informacao="Exame(s): EPF1 - Incluído(s) com sucesso!">
                                        <exame>EPF1</exame>
                                    </exame>
                                    <layoutetiqueta>
                                        <layout>N&#xD;
                    ZB&#xD;
                    q400&#xD;
                    D15&#xD;
                    A10,0,0,1,1,1,N,"TESTE EXAME SIMPLES"&#xD;
                    A10,12,0,1,1,1,N,"DN:01/01/1991 COLETA: 03/03 00:00"&#xD;
                    A10,24,0,1,1,1,N,"SOL-0001000 - 707825579338"&#xD;
                    B60,45,0,2,3,6,90,N,"707825579338"&#xD;
                    A10,145,0,1,1,1,N,"EPF1"&#xD;
                    A10,157,0,1,1,1,N,"FEZES AMOSTRA 1-BASAL"&#xD;
                    A10,169,0,1,1,1,N,"VOLUME MINIMO: "&#xD;
                    A300,155,0,2,1,1,R,"RIO.R.2"&#xD;
                    A380,45,1,2,1,1,R,""&#xD;
                    A10,135,3,1,1,1,N,"ID: 19812"&#xD;
                    A22,142,3,1,1,1,N,"372099609"&#xD;
                    P1&#xD;
                    </layout>
                                    </layoutetiqueta>
                                </amostra>
                            </solicitacao>
                        </entidade>
                    </inclusoes>
        '400':
          $ref: '#/components/responses/BusinessError'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webserviceaol/rest/producao/solicitacao:
    put:
      tags:
      - solicitacoes
      summary: 3) Atualizar data de coleta
      operationId: atualizarDataColetaObservacao
      description: |
        Exemplo cURL:
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/solicitacao' --header 'Content-Type: application/xml' --header 'Authorization: Basic <credenciais-base64>' --data '<?xml version="1.0" encoding="utf-8"?><solicitacoes datahora="2026-03-03T10:54:50.198-03:00"><entidade codigo="19812"><solicitacao idAlvaro="372098991" observacao="" dataColeta="2026-03-05T13:00:00.000-03:00"/></entidade></solicitacoes>'`
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SolicitacoesAtualizarDataColetaObservacaoRequest'
            examples:
              atualizarDataColetaEObservacao:
                summary: Request de atualização da data de coleta e observação
                value: |
                  <?xml version="1.0" encoding="utf-8"?>
                  <solicitacoes datahora="2026-03-03T10:54:50.198-03:00">
                      <entidade codigo="19812">
                          <solicitacao idAlvaro="372098991" observacao="Medicamento: ENALAPRIL 10 mg" dataColeta="2026-03-05T13:00:00.000-03:00"/>
                      </entidade>
                  </solicitacoes>
      responses:
        '200':
          description: Retorno de atualização da solicitação
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                retornoAtualizacaoDataColetaEObservacao:
                  summary: Response de atualização da data de coleta e observação
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <solicitacoes datahora="2026-03-03T12:19:10.920-03:00">
                        <entidade codigo="19812">
                            <solicitacao idAlvaro="372098991" status="SUCESSO" informacao=""/>
                        </entidade>
                    </solicitacoes>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '400':
          $ref: '#/components/responses/BusinessError'
  /webserviceaol/rest/producao/dados-adicionais:
    put:
      tags:
      - solicitacoes
      summary: 4) Incluir dados adicionais
      operationId: atualizarDadosAdicionais
      description: |
        Exemplo cURL:
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/dados-adicionais' --header 'Content-Type: application/xml' --header 'Authorization: Basic <credenciais-base64>' --data '<?xml version="1.0" encoding="ISO-8859-1"?><solicitacoes datahora="2026-03-03T10:54:50.198-03:00"><entidade codigo="19812"><solicitacao idAlvaro="372110835"><amostra codigoBarras="704306874555"><exame codigo="CLEAR1"><dadoAdicional dado="VOLUME" valor="2000" /><dadoAdicional dado="ALTURA" valor="180" /><dadoAdicional dado="PESO" valor="85" /></exame></amostra></solicitacao></entidade></solicitacoes>'`
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SolicitacoesAtualizarDadosRequest'
            examples:
              complementarSolicitacaoDadosAdicionais:
                summary: Request de complementar solicitação (dados adicionais)
                value: |
                  <?xml version="1.0" encoding="ISO-8859-1"?>
                  <solicitacoes datahora="2026-03-03T10:54:50.198-03:00">
                  	<entidade codigo="19812">
                  		<solicitacao idAlvaro="372110835">
                  			<amostra codigoBarras="704306874555">
                  				<exame codigo="CLEAR1">
                  					<dadoAdicional dado="VOLUME" valor="2000" />
                  					<dadoAdicional dado="ALTURA" valor="180" />
                  					<dadoAdicional dado="PESO" valor="85" />
                  				</exame>
                  			</amostra>
                  		</solicitacao>
                  	</entidade>
                  </solicitacoes>
      responses:
        '200':
          description: Retorno de atualização
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                retornoComplementarSolicitacaoDadosAdicionais:
                  summary: Response de complementar solicitação (dados adicionais)
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <solicitacoes datahora="2026-03-03T12:07:45.865-03:00">
                        <entidade codigo="19812">
                            <solicitacao idAlvaro="372110835" status="SUCESSO" informacao="">
                                <amostra codigoBarras="704306874555" status="SUCESSO" informacao="">
                                    <exame codigo="CLEAR1" status="SUCESSO" informacao="">
                                        <dadosAdicionais dado="VOLUME" valor="2000" status="SUCESSO" informacao=""/>
                                        <dadosAdicionais dado="ALTURA" valor="180" status="SUCESSO" informacao=""/>
                                        <dadosAdicionais dado="PESO" valor="85" status="SUCESSO" informacao=""/>
                                    </exame>
                                </amostra>
                            </solicitacao>
                        </entidade>
                    </solicitacoes>
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webserviceaol/rest/producao/v2/{entidade}/{solicitacao}/{codigoBarras}/{codigoExame}:
    delete:
      tags:
      - exames
      summary: 6) Excluir exame por endpoint
      operationId: excluirExameV2PorEndpoint
      description: |
        Exemplo de chamada (valores utilizados apenas para teste):
        `DELETE /v2/19812/372099609/707825579338/EPF1`

        Formato do endpoint com os campos que devem ser preenchidos:
        `DELETE /v2/{entidade}/{solicitacao}/{codigoBarras}/{codigoExame}`

        Onde:
        - `{entidade}` → código da entidade (ex: 19812)
        - `{solicitacao}` → ID da solicitação no Alvaro (ex: 372099609)
        - `{codigoBarras}` → código de barras da amostra (ex: 707825579338)
        - `{codigoExame}` → código do exame a excluir (ex: EPF1)

        Exemplo cURL:
        `curl --location --request DELETE 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/19812/372099609/707825579338/EPF1' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ=='`
      parameters:
      - name: entidade
        in: path
        required: true
        schema:
          type: string
          examples:
          - '19812'
      - name: solicitacao
        in: path
        required: true
        schema:
          type: string
          examples:
          - '372099609'
      - name: codigoBarras
        in: path
        required: true
        schema:
          type: string
          examples:
          - '707825579338'
      - name: codigoExame
        in: path
        required: true
        schema:
          type: string
          examples:
          - EPF1
      responses:
        '200':
          description: Retorno de exclusão v2
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                retornoExclusaoExameEndpoint:
                  summary: Response de exclusão de exame por endpoint
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <solicitacoes datahora="2026-03-03T11:55:02.189-03:00">
                        <entidade codigo="19812">
                            <solicitacao idAlvaro="372099609" status="SUCESSO" informacao="">
                                <amostra codigoBarras="707825579338" status="SUCESSO" informacao="">
                                    <exame codigo="EPF1" status="SUCESSO" informacao=""/>
                                </amostra>
                            </solicitacao>
                        </entidade>
                    </solicitacoes>
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webserviceaol/rest/producao/v2:
    delete:
      tags:
      - exames
      summary: 7) Excluir exame por request body
      operationId: excluirListaExamesV2
      description: |
        Exemplo cURL:
        `curl --location --request DELETE 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2' --header 'Content-Type: application/xml' --header 'Authorization: Basic <credenciais-base64>' --data '<?xml version="1.0" encoding="ISO-8859-1"?><solicitacoes datahora="2026-03-03T10:54:50.198-03:00"><entidade codigo="19812"><solicitacao idAlvaro="372099609"><amostra codigoBarras="707825441321"><exame codigo="CA"/></amostra></solicitacao></entidade></solicitacoes>'`
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/SolicitacoesExcluirV2Request'
            examples:
              exclusaoExameRequestBodyV2:
                summary: Exclusão de exame por request body (v2)
                value: |
                  <?xml version="1.0" encoding="ISO-8859-1"?>
                  <solicitacoes datahora="2026-03-03T10:54:50.198-03:00">
                      <entidade codigo="19812">
                          <solicitacao idAlvaro="372099609">
                              <amostra codigoBarras="707825441321">
                                  <exame codigo="CA"/>
                              </amostra>
                          </solicitacao>
                      </entidade>
                  </solicitacoes>
      responses:
        '200':
          description: Retorno de exclusão de exame por request body
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                retornoExclusaoExameRequestBodyV2:
                  summary: Response de exclusão de exame por request body (v2)
                  value: |
                    <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
                    <solicitacoes datahora="2026-03-03T12:01:24.462-03:00">
                        <entidade codigo="19812">
                            <solicitacao idAlvaro="372099609" status="SUCESSO" informacao="">
                                <amostra codigoBarras="707825441321" status="SUCESSO" informacao="">
                                    <exame codigo="CA" status="SUCESSO" informacao=""/>
                                </amostra>
                            </solicitacao>
                        </entidade>
                    </solicitacoes>
        '401':
          $ref: '#/components/responses/Unauthorized'
  /webserviceaol/rest/producao/v2/resultados:
    put:
      tags:
      - resultados
      summary: 8) Resultados e seus possíveis parâmetros
      operationId: listarResultados
      description: |
        Busca lista de resultados prontos da ordem de serviço.

        Exemplo cURL (sem parâmetros adicionais):
        `curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372106818"><exame codigo="" /></solicitacao></entidade></resultados>'`
      parameters:
      - name: anexoFormato
        in: query
        description: Define o formato dos anexos retornados no XML.
        schema:
          type: string
          enum:
          - PNG
          - SVG
        examples:
          png:
            summary: Retorna anexos em PNG
            value: PNG
          svg:
            summary: Retorna anexos em SVG
            value: SVG
        x-anexoFormatoScenarios:
          PNG:
            query: anexoFormato=PNG
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?anexoFormato=PNG' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372116648"><exame codigo="" /></solicitacao></entidade></resultados>'
            responseExampleRef: resultadoComAnexoPNG
          SVG:
            query: anexoFormato=SVG
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?anexoFormato=SVG' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372116648"><exame codigo="" /></solicitacao></entidade></resultados>'
            responseExampleRef: resultadoComAnexoSVG
      - name: responsavelTecnicoAssinatura
        in: query
        schema:
          type: boolean
      - name: referenciaResultado
        in: query
        description: |
          Quando `true`, retorna o valor de referência filtrado pelo perfil do paciente (sexo e idade)
          diretamente em cada linha de resultado.

          O VR filtrado é retornado:
          - no atributo `referencia` da tag `<resultado>`;
          - e também dentro do bloco `<valorreferencia><![CDATA[...]]></valorreferencia>` de cada `<resultado>`.

          Adicionalmente, o response inclui um bloco `<valorreferencia>` geral em CDATA dentro do `<exame>`
          em `<cadastros>`, **sem filtro** de sexo ou idade (todas as faixas de referência disponíveis).
        schema:
          type: boolean
        x-scenarios:
          referenciaResultadoTrue:
            query: referenciaResultado=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?referenciaResultado=true' \
              --header 'Content-Type: text/html' \
              --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' \
              --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
              <resultados idagente="194607" senha="71da7e" lis="nome-lis" operador="nome-operador">
                  <entidade codigo="19812">
                      <solicitacao idAlvaro="372559358">
                      </solicitacao>
                  </entidade>
              </resultados>'
            response: |
              <?xml version="1.0" encoding="UTF-8"?>
              <resultados datahora="2026-03-07 22:06:39" origem="aol" versao="20101018">
                  <cadastros>
                      <pacientes>
                          <paciente codigo="432272648" codigo_lis="PAC-5000" datanasc="01/01/1991" nome="TESTE HEMOGRAMA" nomeSocial="TESTE NOME SOCIAL" sexo="M"/>
                      </pacientes>
                      <materiais>
                          <material codigo="879" descricao="sangue total EDTA"/>
                      </materiais>
                      <exame codigo="HEDTA" descricao="HEMOGRAMA" dataalteracao="29/09/2025 10:18:01">
                          <linhasresultado>
                              <linha codigo="15597" descricao="Leucócitos /µL" unidade="/µL"/>
                              <linha codigo="15646" descricao="Hemoglobina g/dL" unidade="g/dL"/>
                              <linha codigo="15647" descricao="Hematócrito %" unidade="%"/>
                              <linha codigo="15653" descricao="Plaquetas /µL" unidade="/µL"/>
                          </linhasresultado>
                          <valorreferencia>
                              <![CDATA[4000 a 10000 /µL
              13,0 a 17,0 g/dL
              40,0 a 50,0%
              150000 a 450000 /µL]]>
                          </valorreferencia>
                      </exame>
                  </cadastros>
                  <solicitacao codigo="372559358" codigo_aol="" codigo_lis="SOL-5000" dataColeta="2026-03-06 08:00:00" paciente="432272648">
                      <amostras>
                          <amostra codigo="0" descricao="Basal" identificacao="" material="879"/>
                      </amostras>
                      <exame codigo="HEDTA" observacao="Anisocitose." metodo="Impedância / Colorimetria / Fluorescência / Avaliação Microscópica" normal="S" dataresultado="06/03/2026 13:16:06" responsaveltecnico="Sheila Vasques Leandro Argolo" responsaveltecnicodocumento="CRF-RJ 4469">
                          <resultado amostra="0" linharesultado="15597" id_lis="" resultado="6610" referencia="4000 a 10000 /µL">
                              <valorreferencia>
                                  <![CDATA[4000 a 10000 /µL]]>
                              </valorreferencia>
                          </resultado>
                          <resultado amostra="0" linharesultado="15646" id_lis="" resultado="14,1" referencia="13,0 a 17,0 g/dL">
                              <valorreferencia>
                                  <![CDATA[13,0 a 17,0 g/dL]]>
                              </valorreferencia>
                          </resultado>
                          <resultado amostra="0" linharesultado="15647" id_lis="" resultado="44,4" referencia="40,0 a 50,0%">
                              <valorreferencia>
                                  <![CDATA[40,0 a 50,0%]]>
                              </valorreferencia>
                          </resultado>
                          <resultado amostra="0" linharesultado="15653" id_lis="" resultado="228000" referencia="150000 a 450000 /µL">
                              <valorreferencia>
                                  <![CDATA[150000 a 450000 /µL]]>
                              </valorreferencia>
                          </resultado>
                      </exame>
                  </solicitacao>
              </resultados>
      - name: novaVersaoHemograma
        in: query
        description: |
          Quando `true`, retorna os valores de referência do hemograma em formato estruturado por faixa etária e sexo.

          O VR é retornado no bloco `<valorreferenciahemograma>` dentro do `<exame>` em `<cadastros>`,
          com múltiplos blocos `<faixaetaria descricao="..." sexo="...">` contendo os intervalos em CDATA.
          As faixas etárias **não são filtradas** pelo perfil do paciente — todas as faixas disponíveis são retornadas.

          As linhas de resultado (`<resultado>`) **não incluem** o atributo `referencia` nem a tag `<valorreferencia>` quando apenas este parâmetro é utilizado.
        schema:
          type: boolean
        x-scenarios:
          novaVersaoHemogramaTrue:
            query: novaVersaoHemograma=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?novaVersaoHemograma=true' \
              --header 'Content-Type: text/html' \
              --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' \
              --data '<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
              <resultados idagente="194607" senha="71da7e" lis="nome-lis" operador="nome-operador">
                  <entidade codigo="19812">
                      <solicitacao idAlvaro="372559358">
                      </solicitacao>
                  </entidade>
              </resultados>'
            response: |
              <?xml version="1.0" encoding="UTF-8"?>
              <resultados datahora="2026-03-07 22:14:06" origem="aol" versao="20101018">
                  <cadastros>
                      <pacientes>
                          <paciente codigo="432272648" codigo_lis="PAC-5000" datanasc="01/01/1991" nome="TESTE HEMOGRAMA" nomeSocial="TESTE NOME SOCIAL" sexo="M"/>
                      </pacientes>
                      <materiais>
                          <material codigo="879" descricao="sangue total EDTA"/>
                      </materiais>
                      <exame codigo="HEDTA" descricao="HEMOGRAMA" dataalteracao="29/09/2025 10:18:01">
                          <linhasresultado>
                              <linha codigo="15597" descricao="Leucócitos /µL" unidade="/µL"/>
                              <linha codigo="15646" descricao="Hemoglobina g/dL" unidade="g/dL"/>
                              <linha codigo="15647" descricao="Hematócrito %" unidade="%"/>
                              <linha codigo="15653" descricao="Plaquetas /µL" unidade="/µL"/>
                          </linhasresultado>
                          <valorreferenciahemograma>
                              <faixaetaria descricao="18 anos a 178 anos" sexo="M">
                                  <![CDATA[Concentração HCM g/dL: 31,0 a 35,0 g/dL
              Eritrócitos 10^6/µL: 4,50 a 5,50 10^6/µL
              HCM pg: 27,0 a 32,0 pg
              Hematócrito %: 40,0 a 50,0%
              Hemoglobina g/dL: 13,0 a 17,0 g/dL
              RDW %: 11,6 a 14,0%
              VCM fL: 83,0 a 101,0 fL]]>
                              </faixaetaria>
                              <faixaetaria descricao="21 anos a 178 anos" sexo="A">
                                  <![CDATA[Basófilos %: 0,0 a 2,0 %
              Leucócitos /µL: 4000 a 10000 /µL
              Linfócitos %: 20,0 a 40,0 %
              Linfócitos /µL: 1000 a 3000 /µL]]>
                              </faixaetaria>
                          </valorreferenciahemograma>
                      </exame>
                  </cadastros>
                  <solicitacao codigo="372559358" codigo_aol="" codigo_lis="SOL-5000" dataColeta="2026-03-06 08:00:00" paciente="432272648">
                      <amostras>
                          <amostra codigo="0" descricao="Basal" identificacao="" material="879"/>
                      </amostras>
                      <exame codigo="HEDTA" observacao="Anisocitose." metodo="Impedância / Colorimetria / Fluorescência / Avaliação Microscópica" normal="S" dataresultado="06/03/2026 13:16:06" responsaveltecnico="Sheila Vasques Leandro Argolo" responsaveltecnicodocumento="CRF-RJ 4469">
                          <resultado amostra="0" linharesultado="15597" id_lis="" resultado="6610"/>
                          <resultado amostra="0" linharesultado="15646" id_lis="" resultado="14,1"/>
                          <resultado amostra="0" linharesultado="15647" id_lis="" resultado="44,4"/>
                          <resultado amostra="0" linharesultado="15653" id_lis="" resultado="228000"/>
                      </exame>
                  </solicitacao>
              </resultados>
      - name: habilitaInformacoesComplementares
        in: query
        description: |
          Habilita o retorno das informações de Valor de Referência (VR) considerando o perfil do paciente.
          O intervalo de referência é calculado com base em sexo e idade do paciente e é retornado
          juntamente com o resultado do exame.

          O VR é apresentado:
          - no atributo `referencia` da linha de resultado;
          - e também no bloco `CDATA` dentro da tag `valorreferencia`.

          Dessa forma, o consumidor da API pode acessar o intervalo de referência tanto diretamente
          na linha do resultado quanto no bloco dedicado de valor de referência.
        schema:
          type: boolean
        examples:
          habilitado:
            summary: Retorna informações complementares
            value: true
        x-scenarios:
          habilitaInformacoesComplementaresTrue:
            query: habilitaInformacoesComplementares=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?habilitaInformacoesComplementares=true' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372106818"><exame codigo="" /></solicitacao></entidade></resultados>'
            responseExampleRef: resultadoComInformacoesComplementares
      - name: habilitaLocalCNES
        in: query
        description: Habilita o bloco `local-CNES` no retorno do resultado.
        schema:
          type: boolean
        examples:
          habilitado:
            summary: Retorna local-CNES no resultado
            value: true
        x-scenarios:
          habilitaLocalCNESTrue:
            query: habilitaLocalCNES=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?habilitaLocalCNES=true' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372106818"><exame codigo="" /></solicitacao></entidade></resultados>'
            responseExampleRef: resultadoComHabilitaLocalCNES
      - name: habilitaNotaFixa
        in: query
        description: |
          Quando `true`, habilita o retorno de notas fixas associadas aos exames no atributo `notaFixa`.
          As notas fixas fornecem informações complementares importantes sobre o exame, como referências
          bibliográficas, alterações de intervalos de referência e outras observações relevantes.

          Este parâmetro está disponível tanto para consulta de resultados por OS quanto para resultado por lote/período.
        schema:
          type: boolean
        examples:
          habilitado:
            summary: Retorna notas fixas nos resultados
            value: true
        x-scenarios:
          habilitaNotaFixaTrueResultadoOS:
            query: habilitaNotaFixa=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?habilitaNotaFixa=true' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0" encoding="ISO-8859-1"?><resultados idagente="194607" lis="Postman" operador="teste" senha="71da7e" padrao="AOL"><entidade codigo="19812"><solicitacao idAlvaro="372106818"></solicitacao></entidade></resultados>'
            requestExampleRef: listarResultadosComHabilitaNotaFixa
            responseExampleRef: resultadoComHabilitaNotaFixa
          habilitaNotaFixaTrueResultadoLote:
            query: habilitaNotaFixa=true
            curl: |
              curl --location 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v3/resultados/lote/19812/20260303122000/20260303122500?habilitaNotaFixa=true' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ=='
            description: Exemplo de uso do parâmetro habilitaNotaFixa para resultado por lote/período
      - name: exameCNESResponsavelLiberacao
        in: query
        schema:
          type: boolean
        description: Quando `true`, retorna o CNES por exame e o responsável liberador.
        examples:
          habilitado:
            summary: Retorna CNES por exame e responsável pela liberação
            value: true
        x-scenarios:
          exameCNESResponsavelLiberacaoTrue:
            query: exameCNESResponsavelLiberacao=true
            curl: |
              curl --location --request PUT 'http://webservice.alvaro.com.br/webserviceaol/rest/producao/v2/resultados?exameCNESResponsavelLiberacao=true' --header 'Content-Type: application/xml' --header 'Authorization: Basic MTk0NjA3OjcxZGE3ZQ==' --data '<?xml version="1.0"?><resultados idagente="194607" lis="Postman" operador="nome-operador" senha="71da7e"><entidade codigo="19812"><solicitacao idAlvaro="372106818"><exame codigo="" /></solicitacao></entidade></resultados>'
            responseExampleRef: resultadoComExameCNESResponsavelLiberacao
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/ResultadosRequest'
            examples:
              listarResultadosComHabilitaNotaFixa:
                summary: Request de resultados com habilitaNotaFixa=true
                value: |
                  <?xml version="1.0" encoding="ISO-8859-1"?>
                  <resultados idagente="194607" lis="Postman" operador="teste" senha="71da7e" padrao="AOL">
                    <entidade codigo="19812">
                      <solicitacao idAlvaro="372106818">
                      </solicitacao>
                    </entidade>
                  </resultados>
      responses:
        '200':
          description: |
            Retorno de resultados.

            ---

            ⚠️ **Atenção: interpretação correta do resultado por tipo de exame**

            **Exames simples e compostos**
            Cada `<resultado>` corresponde a uma única linha de resultado. O atributo `id_lis` pode ser usado pelo LIS como chave de identificação do resultado.

            **Exames de curva, cultura e múltiplas amostras**
            A linha de resultado (`linharesultado`) **se repete** para cada amostra coletada. Nestes casos, **o `id_lis` não deve ser usado como chave**, pois causará sobrescrita de resultados ou retornará apenas o resultado da primeira linha. A chave correta é a combinação dos atributos `amostra` + `linharesultado`.

            | Tipo de exame | Chave correta para o LIS |
            |---|---|
            | Simples / Composto / Paternidade | `id_lis` ou `linharesultado` |
            | Curva / Cultura / Múltiplas amostras | `amostra` + `linharesultado` |

            **Sobre o atributo `id_lis`**
            É um apelido alfanumérico definido pelo LIS do cliente e enviado no atributo `idlis` da solicitação (`<exame codigo="TSH" idlis="TSH1"/>`).
            O AOL devolve esse valor no atributo `id_lis` do resultado (`<resultado id_lis="TSH1" .../>`).
            Para exames de curva, cultura e múltiplas amostras, mesmo que o cliente faça o mapeamento do `idlis` com o mnemônico Alvaro, **a forma correta de receber estes resultados é pelo atributo `amostra`**, e não pelo `id_lis`.

            **Sobre cultura positiva**
            Quando o resultado de cultura for positivo, o response incluirá adicionalmente um bloco `<antibiograma>` com os antibióticos testados e suas respectivas resistências.
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/XmlAny'
              examples:
                resultadoComAnexoPNG:
                  summary: Response de resultados com anexo formato PNG
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <resultados datahora="2026-03-03 16:15:20" origem="aol" versao="20101018">
                        <cadastros>
                            <pacientes>
                                <paciente codigo="431798951" codigo_lis="PAC-503" datanasc="01/01/1991" nome="TESTE EXAME DE CURVA" nomeSocial="" sexo="M"/>
                            </pacientes>
                            <materiais>
                                <material codigo="543" descricao="soro"/>
                            </materiais>
                            <exame codigo="INSULCURVA" descricao="INSULINA - Curva" dataalteracao="28/01/2026 14:00:22">
                                <linhasresultado>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                </linhasresultado>
                                <valorreferencia>
                                    <![CDATA[INSULINA Basal:
                    OUTROS	2 a 12 µUI/mL
                    IDADE>19	2,5 a 13,1	µUI/mL
                    ]]>
                                </valorreferencia>
                            </exame>
                        </cadastros>
                        <solicitacao codigo="372116648" codigo_aol="" codigo_lis="SOL-503" dataColeta="2026-03-03 00:00:00" paciente="431798951">
                            <amostras>
                                <amostra codigo="0" descricao="Basal" identificacao="" material="543"/>
                                <amostra codigo="1" descricao="30 min" identificacao="" material="543"/>
                                <amostra codigo="2" descricao="60 min" identificacao="" material="543"/>
                                <amostra codigo="3" descricao="90 min" identificacao="" material="543"/>
                                <amostra codigo="4" descricao="120 min" identificacao="" material="543"/>
                            </amostras>
                            <exame codigo="INSULCURVA" observacao="" metodo="Eletroquimioluminescência | Quimioluminescência" normal="S" dataresultado="03/03/2026 12:35:58" responsaveltecnico="Sheila Vasques Leandro Argolo" responsaveltecnicodocumento="CRF-RJ 4469">
                                <resultado amostra="0" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <resultado amostra="1" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <resultado amostra="2" linharesultado="4767" id_lis="" resultado="6,0"/>
                                <resultado amostra="3" linharesultado="4767" id_lis="" resultado="5,0"/>
                                <resultado amostra="4" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <anexos>
                                    <anexo codigo="1" tipo="IMAGEM" formato="PNG">
                                        <![CDATA[<BASE64_PNG>]]>
                                    </anexo>
                                </anexos>
                            </exame>
                        </solicitacao>
                    </resultados>
                resultadoComAnexoSVG:
                  summary: Response de resultados com anexo formato SVG
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <resultados datahora="2026-03-03 16:19:36" origem="aol" versao="20101018">
                        <cadastros>
                            <pacientes>
                                <paciente codigo="431798951" codigo_lis="PAC-503" datanasc="01/01/1991" nome="TESTE EXAME DE CURVA" nomeSocial="" sexo="M"/>
                            </pacientes>
                            <materiais>
                                <material codigo="543" descricao="soro"/>
                            </materiais>
                            <exame codigo="INSULCURVA" descricao="INSULINA - Curva" dataalteracao="28/01/2026 14:00:22">
                                <linhasresultado>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                    <linha codigo="4767" descricao="INSULINA $$" unidade="µUI/mL"/>
                                </linhasresultado>
                                <valorreferencia>
                                    <![CDATA[INSULINA Basal:
                    OUTROS	2 a 12 µUI/mL
                    IDADE>19	2,5 a 13,1	µUI/mL
                    ]]>
                                </valorreferencia>
                            </exame>
                        </cadastros>
                        <solicitacao codigo="372116648" codigo_aol="" codigo_lis="SOL-503" dataColeta="2026-03-03 00:00:00" paciente="431798951">
                            <amostras>
                                <amostra codigo="0" descricao="Basal" identificacao="" material="543"/>
                                <amostra codigo="1" descricao="30 min" identificacao="" material="543"/>
                                <amostra codigo="2" descricao="60 min" identificacao="" material="543"/>
                                <amostra codigo="3" descricao="90 min" identificacao="" material="543"/>
                                <amostra codigo="4" descricao="120 min" identificacao="" material="543"/>
                            </amostras>
                            <exame codigo="INSULCURVA" observacao="" metodo="Eletroquimioluminescência | Quimioluminescência" normal="S" dataresultado="03/03/2026 12:35:58" responsaveltecnico="Sheila Vasques Leandro Argolo" responsaveltecnicodocumento="CRF-RJ 4469">
                                <resultado amostra="0" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <resultado amostra="1" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <resultado amostra="2" linharesultado="4767" id_lis="" resultado="6,0"/>
                                <resultado amostra="3" linharesultado="4767" id_lis="" resultado="5,0"/>
                                <resultado amostra="4" linharesultado="4767" id_lis="" resultado="4,0"/>
                                <anexos>
                                    <anexo codigo="1" tipo="GRAFICO" formato="SVG">
                                        <![CDATA[<svg xmlns="http://www.w3.org/2000/svg" ...>...</svg>]]>
                                    </anexo>
                                </anexos>
                            </exame>
                        </solicitacao>
                    </resultados>
                resultadoComInformacoesComplementares:
                  summary: Response com habilitaInformacoesComplementares=true
                  value: |
                    <?xml version="1.0" encoding="UTF-8"?>
                    <resultados datahora="2026-03-03 16:50:58" origem="aol" versao="20101018">
                        <cadastros>
                            <pacientes>
[...]
